﻿@model web_s10196608.Models.Staff

@{
    ViewData["Title"] = "Edit";
}

<h4 class="PageTitle">Edit Staff Record</h4>
<hr />
<form asp-action="Edit">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="StaffId" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="StaffId" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Name" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Salary" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="checkbox col-sm-9 offset-sm-3">
                <label>
                    <input asp-for="IsFullTime" /> @Html.DisplayName("IsFullTime")
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="BranchNo" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <!-- Drop-down list displaying Branch Address, 
                    with Branch Number as returned value --> 
                <select asp-for="BranchNo" 
                        asp-items="@(new SelectList( @ViewData["BranchList"] as List <Branch>, "BranchNo", "Address"))" 
                        class="form-control">
                </select> 
            </div>
        </div> 
        <div class="form-group row"> 
            <div class="col-sm-9 offset-sm-3"> 
                <input type="submit" value="Save" class="btn btn-primary" /> 
            </div> 
        </div> 
        <div> 
            <a asp-action="Index">Back to List</a> |
            <a asp-action="UploadPhoto"
               asp-route-id="@Model.StaffId">Upload Photo</a>
        </div>
    </fieldset>
</form>
